.cadastro-duvida-container {
    width: 100%;
    height: 100%;
  }
  
  .logo-cadasroDuvidas{
    margin-left: 20px;
    width: 70px;
    height: 50px;
  }


  .cadastro-duvida-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #fff; 
    border-bottom: 2px solid #dad9d9;
  }
  
  .cadastro-duvida-title {
    font-size: 20px;
    color: #008CBA;
    text-align: center;
  }
  
  .cadastro-duvida-user-icon {
    font-size: 36px;
    color: #008CBA;
  }
  
  .cadastro-duvida-form {  
    display: flex;
    flex-direction: column;
  }

  .cadastro-duvida-form-group {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    width: 70%;
    height: 100%;
  }
  
  .cadastro-duvida-label {
    font-size: 14px;
    color: #008CBA;
    margin-bottom: 2px;
  }
  
  .cadastro-duvida-input {
    width: 50%;
    padding: 10px;
    border: 2px solid #008CBA;
    border-radius: 4px;
  }

  .cadastro-duvida-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2px solid #008CBA;
    border-radius: 4px;
    margin-bottom: 2%;
    text-decoration: #153a8a;
  }

  .cadastro-duvida-buttons {
    display: flex;
    justify-content: center;
    width: 300px;
  }
  
  .cadastro-duvida-button {
    width: 100%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
  }
  
  .cadastro-duvida-cancel {
    background-color: #fff;
    color: #008CBA;
    border: 1px solid #008CBA;
  }
  
  .cadastro-duvida-cancel:hover {
    background-color: #e6f7ff;
  }
  
  .cadastro-duvida-save {
    background-color: #008CBA;
    color: #fff;
  }
  
  .cadastro-duvida-save:hover {
    background-color: #153a8a;
  }
  
  .cadastro-duvida-footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .cadastro-duvida-logo {
    width: 50px;
  }
  
  .user-profile-pic-signup{
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }